---
title: Jun
name: John Seubert
number: 11
position: iOS Developer
height: 6' 2"
weight: 190

age: 26
linkedin: "https://www.linkedin.com/in/jaseubert"
---

<head>
</head>

<div class="menu-container">
</div>


<div id="main">
  <header id="player-header" class="">
    <div class="container">
      <img alt="John Seubert" class="player-headshot" src="images/headshot.jpg" data-src="images/headshot.jpg" >

      <div class="player-vitals">
        <h1>
          <span class="player-name"><%= current_page.data.name %></span>
          <span class="player-number">#<%= current_page.data.number %></span>
        </h1>
        <ul>
          <li><%= current_page.data.position %></li>
          <li>B/T: R/R</li>
          <li><%= current_page.data.height %>/<%= current_page.data.weight %></li>
          <li>Age: <%= current_page.data.age %></li>
        </ul>
      </div>
      <img class="mlbpa-logo" src="//mlb.mlb.com/images/stats/mlb4cg.png">
    </div>

    <nav id="player-nav">
      <div class="container">
        <div class="player-vitals-mini">
          <img src="images/136.png" srcset="images/136@2x.png 2x, images/136@3x.png 3x">
          <div class="player-vitals-mini-name"><%= current_page.data.name %></div>
          <span class="player-vitals-mini-number">#<%= current_page.data.number %></span>
          <span><%= current_page.data.position %></span>
        </div>
        <div class="player-nav-items" style="border-color:#0C2C56;color:#0C2C56">
          <a id="summary-nav-item" href="#quick-stats" class="active"
              unselectable="on"
              onselectstart="return false;"
              onmousedown="return false;">Summary</a>
          <a id="stats-nav-item" href="#stats" class=""
              unselectable="on"
              onselectstart="return false;"
              onmousedown="return false;">Stats</a>
          <a id="news-nav-item" href="#news"
              unselectable="on"
              onselectstart="return false;"
              onmousedown="return false;">Fantasy</a>
          <a id="apps-nav-item" href="#apps"
              unselectable="on"
              onselectstart="return false;"
              onmousedown="return false;">Apps</a>
          <a id="shop-nav-item" class="shop-link" href="https://itunes.apple.com/us/developer/john-seubert/id522080952"
              unselectable="on"
              onselectstart="return false;"
              onmousedown="return false;">Shop</a>
        </div>
      </div>
    </nav>

  </header>

  <section id="summary">
    <div class="container">
      <h2 class="hidden"><span>Summary</span></h2>
      <section id="quick-stats">
        <div class="player-bio">
          <h3>John Seubert Bio</h3>
          <ul>
            <li class="full-name"><span class="label">Full Name:</span> John Armin Seubert</li>
            <li><span class="label">Pronunciation:</span> JUN SUE-bert</li>
            <li><span class="label">Born:</span> 10/16/1989 in Bellevue, Washington</li>
            <li><span class="label">High School:</span> Skyline High School, Sammamish, WA</li>
            <li><span class="label">College:</span> Santa Clara University, Santa Clara, CA</li>
            <li><span class="label">Relationship(s):</span> brother of <a href="https://www.linkedin.com/in/emily-seubert-09ab8890">Emily Seubert</a></li>
          </ul>

          <ul class="twitter-buttons">
            <li>
              <a href="https://twitter.com/seubjoh" class="twitter-follow-button" data-show-count="false">Follow @seubjoh</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </li>
            <li>
              <iframe id="twitter-widget-1" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered" title="Twitter Follow Button" src="http://platform.twitter.com/widgets/follow_button.6a78875565a912489e9aef879c881358.en.html#dnt=false&amp;id=twitter-widget-1&amp;lang=en&amp;screen_name=Mariners&amp;show_count=false&amp;show_screen_name=true&amp;size=m&amp;time=1456900941705" style="position: static; visibility: visible; width: 121px; height: 20px;" data-screen-name="Mariners"></iframe>
            </li>
          </ul>

          <a href="<%= current_page.data.linkedin %>" class="view-toggle">View More Bio Info +</a>
        </div>
        <div class="player-stats-summary-large">
          <table>
            <thead>
              <tr>
                <th>Quick Stats</th>
                <th>Detail</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>iOS Apps Developed</td>
                <td>3</td>
              </tr>
              <tr>
                <td>Android Apps Developed</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Spartan Races Ran</td>
                <td>6</td>
              </tr>
              <tr>
                <td>Skiing Years</td>
                <td>16</td>
              </tr>
              <tr>
                <td>Fitbit Steps</td>
                <td>5,062,997</td>
              </tr>
              <tr>
                <td>Fitbit Best Daily Steps</td>
                <td>30,346</td>
              </tr>
            </tbody>
          </table>

          <ul class="status horizontal-list">
            <li>
              <span class="label">Status: </span>Active(ly employed)
            </li>
          </ul>

        </div>
      </section>
    </div>
  </section>

  <section id="stats">
    <div class = "container">
      <h2>
        <span>Stats</span>
      </h2>
      <div class="divider"></div>
      <div id="stats-nav">
        <div id="section_nav" class="tab-set tabs-4">
          <li id="majorsTab"
            unselectable="on"
            onselectstart="return false;"
            onmousedown="return false;"
            class="active">Majors </li>
          <li id="minorsTab" class=""
            unselectable="on"
            onselectstart="return false;"
            onmousedown="return false;"
            class="active">Minors </li>
          <li id="collegeTab" class=""
            unselectable="on"
            onselectstart="return false;"
            onmousedown="return false;"
            class="active">College </li>
          <li id="scoutingTab" class=""
            unselectable="on"
            onselectstart="return false;"
            onmousedown="return false;"
            class="active">Scouting Report </li>
        </div>
      </div>
      <div id="majorsPanel" class="stat-panel" style="display:block;">
        <h3 class="title-stats">John Seubert Majors Stats</h3>
        <div class="table-details">
          <div class="responsive-table">
            <div class="scrollable">
              <table class="scrollable-table">
                <thead>
                  <tr>
                    <th data-index="0">Year</th>
                    <th data-index="1">Months</th>
                    <th data-index="2">Team</th>
                    <th data-index="3">Location</th>
                    <th data-index="4">Position</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>2013</td>
                    <td>Nov - Dec</td>
                    <td>Personal Capital</td>
                    <td>Redwood City, CA</td>
                    <td>Junior Mobile Software Developer</td>
                  </tr>
                  <tr>
                    <td>2014</td>
                    <td>Jan - Dec</td>
                    <td>Personal Capital</td>
                    <td>Redwood City, CA</td>
                    <td>Mobile Software Developer</td>
                  </tr>
                  <tr>
                    <td>2015</td>
                    <td>Jan - Dec</td>
                    <td>Personal Capital</td>
                    <td>Redwood City, CA</td>
                    <td>Mobile Software Developer</td>
                  </tr>
                  <tr>
                    <td>2016</td>
                    <td>Jan - Present</td>
                    <td>Personal Capital</td>
                    <td>Redwood City, CA</td>
                    <td>Mobile Software Developer</td>
                  </tr>
                </tbody>
                <tfoot class="footer">
                  <tr>
                    <td>Career</td>
                    <td><script>document.write(workingMonths());</script> </td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <div>
            <h3 class="title-summary">Details</h3>
            <ul class ="table-summary">
              <li>Work with the team to develop interactive applications for iOS and Android devices</li>
              <li>Developed features for new iOS and Android features such as Apple Watch, Google Wear, and 3D Touch often times while they were still in beta</li>
              <li>Specifically worked heavily on the Cash Flow, Advisor, and Appointment Scheduling features on iPhone and iPad and Spending feature on iPad</li>
              <li>Added automation tests for various features of the iOS apps</li>
              <li>Had an integral role on the implementation and release of the initial Android tablet app</li>
              <li>Designed and implemented data visualizations to simply display complex and aggregated financial information optimized for the mobile environment</li>
              <li>Contribute and provide feedback and suggestions for future application enhancements and features</li>
            </ul>
          </div>
        </div>
      </div>

      <div id="minorsPanel" class="stat-panel" style="display:none;">
        <h3 class="title-stats">John Seubert Minors Stats
        </h3>
          <div class="table-details">
            <div class="responsive-table">
              <div class="scrollable">
                <table class="scrollable-table">
                  <thead>
                    <tr>
                      <th data-index="0">Year</th>
                      <th data-index="1">Months</th>
                      <th data-index="2">Team</th>
                      <th data-index="3">Location</th>
                      <th data-index="4">Position</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>2012</td>
                      <td>June - Dec</td>
                      <td>Santa Clara University</td>
                      <td>Santa Clara, CA</td>
                      <td>Frugal Lab Assistant</td>
                    </tr>
                    <tr>
                      <td>2013</td>
                      <td>Jan - June</td>
                      <td>Santa Clara University</td>
                      <td>Santa Clara, CA</td>
                      <td>Frugal Lab Assistant</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div>
              <h3 class="title-summary">Details</h3>
              <ul class ="table-summary">
                <li>Worked with electrical and biological engineers to create a water pathogen detector probe attached to an Android App with a formal paper being submitted for the product in February 2013</li>
                <li>Helped test and implement technologies such as ODK and openXdata for non-profit organization NetHope to use in developing countries as crowd survey tools</li>
                <li>Maintained lab appearance and provided tours to interested parties</li>
              </ul>
            </div>
            <div class="responsive-table">
              <div class="scrollable">
                <table class="scrollable-table">
                  <thead>
                    <tr>
                      <th data-index="0">Year</th>
                      <th data-index="1">Months</th>
                      <th data-index="2">Team</th>
                      <th data-index="3">Location</th>
                      <th data-index="4">Position</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>2010</td>
                      <td>Jun - Sept</td>
                      <td>Applied Precision, Inc.</td>
                      <td>Issaquah, WA</td>
                      <td>Software Engineering Intern</td>
                    </tr>
                    <tr>
                      <td>2009</td>
                      <td>Jun - Sept</td>
                      <td>Applied Precision, Inc.</td>
                      <td>Issaquah, WA</td>
                      <td>Software Engineering Intern</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div>
              <h3 class="title-summary">Details</h3>
              <ul class ="table-summary">
                <li>Created an image correction algorithm using a calibration slide with Matlab</li>
                <li>Developed a process for customers to utilize NoMachine products for remote login to microscopy computers purchased from Applied Precision</li>
                <li>Used DirectX, C#, and C in Linux environment to create image visualization and correction modules for microscopy systems</li>
                <li>Implemented a prototype 3D virtualization demo to view and manipulate 3D cells with Nintendo Wii remote technology</li>
              </ul>
            </div>
          </div>
        </div>
      <div id="collegePanel" class="stat-panel" style="display:none;">
        <h3 class="title-stats">John Seubert College Stats</h3>
        <div class="table-details">
          <div class="responsive-table">
            <div class="scrollable">
              <table class="scrollable-table">
                <thead>
                  <tr>
                    <th data-index="0">Year</th>
                    <th data-index="1">Team</th>
                    <th data-index="2">League</th>
                    <th data-index="3">Location</th>
                    <th data-index="4">Cumulative GPA</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>2013</td>
                    <td>Santa Clara University</td>
                    <td>Graduate</td>
                    <td>Santa Clara, CA</td>
                    <td>3.360</td>
                  </tr>
                  <tr>
                    <td>2011</td>
                    <td>Santa Clara University</td>
                    <td>Undergraduate</td>
                    <td>Santa Clara, CA</td>
                    <td>3.033</td>
                  </tr>
                  <tr>
                    <td>2011</td>
                    <td>Santa Clara University</td>
                    <td>Undergraduate</td>
                    <td>Santa Clara, CA</td>
                    <td>3.046</td>
                  </tr>
                  <tr>
                    <td>2010</td>
                    <td>Santa Clara University</td>
                    <td>Undergraduate</td>
                    <td>Santa Clara, CA</td>
                    <td>3.169</td>
                  </tr>
                  <tr>
                    <td>2009</td>
                    <td>Santa Clara University</td>
                    <td>Undergraduate</td>
                    <td>Santa Clara, CA</td>
                    <td>3.593</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div>
            <h3 class="title-summary">Other Roles and Accomplishments</h3>
            <ul class ="table-summary">
              <li>Created an image correction algorithm using a calibration slide with Matlab</li>
              <li>Developed a process for customers to utilize NoMachine products for remote login to microscopy computers purchased from Applied Precision</li>
              <li>Used DirectX, C#, and C in Linux environment to create image visualization and correction modules for microscopy systems</li>
              <li>Implemented a prototype 3D virtualization demo to view and manipulate 3D cells with Nintendo Wii remote technology</li>
            </ul>
          </div>
        </div>
      </div>
      <div id="scoutingPanel" class="stat-panel" style="display:none;">
        <div class="table-details">
          <h3 class="title-summary">iOS Development: 2+ Years</h3>
          <ul class ="table-summary">
            <li>Comfortable in XCode environment with Objective-C language</li>
            <li>2 personal apps, 1 company app</li>
          </ul>
          <h3 class="title-summary">Android App Development: 1 Years</h3>
          <ul class ="table-summary">
            <li>Experience with Android App development in Android Studio using Java, XML, and Android SDK technologies</li>
            <li>1 personal app, 1 company app</li>
          </ul>
          <h3 class="title-summary">Other Skills</h3>
          <ul class ="table-summary">
            <li>Experience implementing basic websites with HTML, XML, SQL, and JavaScript technologies</li>
            <li>Learned Matlab and Python in addition to above listed languages</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="news">
    <div class = "container">
      <h2>
        <span>Fantasy</span>
      </h2>
      <div class="divider"></div>
      <h3>Blog coming soon!</h3>
    </div>
  </section>

  <section id="apps">
    <div class = "container">
      <h2>
        <span>Apps</span>
      </h2>
      <div class="divider">
      </div>

      <section id="apps-section">
        <h3>John Seubert's iOS Apps</h3>
        <div class="apps-container">
          <div class="app-item">
            <div  class="app-icon">
              <a href="https://www.personalcapital.com">
                <img alt="Personal Capital" src="images/pcap.png" data-src="images/pcap.png" >
              </a>
            </div>
            <h4>Personal Capital</h4>
            <p>Personal Capital is the smart way to track and manage your financial life. We combine award-winning online financial tools that provide unprecedented transparency into your finances with personal attention from licensed financial planners. The result is a complete transformation in the way you understand, manage and grow your net worth.</p>
          </div>
          <div class="app-item">
            <div  class="app-icon">
              <a href="https://itunes.apple.com/us/app/thatso/id959223179">
                <img alt="ThatSo" src="images/thatso.jpeg" data-src="images/thatso.jpeg" >
              </a>
            </div>
            <h4>ThatSo</h4>
            <p>Personal Capital is the smart way to track and manage your financial life. We combine award-winning online financial tools that provide unprecedented transparency into your finances with personal attention from licensed financial planners. The result is a complete transformation in the way you understand, manage and grow your net worth.</p>
          </div>
          <div class="app-item">
            <div  class="app-icon">
              <a href="https://itunes.apple.com/us/app/drinking-game-picker/id717549888">
                <img alt="Drinking Game Picker" src="images/dgp.jpeg" data-src="images/dgp.jpeg" >
              </a>
            </div>
            <h4>Drinking Game Picker</h4>
            <p>Personal Capital is the smart way to track and manage your financial life. We combine award-winning online financial tools that provide unprecedented transparency into your finances with personal attention from licensed financial planners. The result is a complete transformation in the way you understand, manage and grow your net worth.</p>
          </div>
        </div>
        <h3>John Seubert's Android Apps</h3>
        <div class="apps-container">
          <div class="app-item">
            <div  class="app-icon">
              <img alt="Personal Capital" src="images/pcap.png" data-src="images/pcap.png" >
            </div>
            <h4>Personal Capital</h4>
            <p>Personal Capital is the smart way to track and manage your financial life. We combine award-winning online financial tools that provide unprecedented transparency into your finances with personal attention from licensed financial planners. The result is a complete transformation in the way you understand, manage and grow your net worth.</p>
          </div>
          <div class="app-item">
            <div  class="app-icon">
              <img alt="ThatSo" src="images/thatso.jpeg" data-src="images/thatso.jpeg" >
            </div>
            <h4>ThatSo</h4>
            <p>Personal Capital is the smart way to track and manage your financial life. We combine award-winning online financial tools that provide unprecedented transparency into your finances with personal attention from licensed financial planners. The result is a complete transformation in the way you understand, manage and grow your net worth.</p>
          </div>
        </div>
      </section>
    </div>
  </section>
  <div id="global-footer-container" class=" team">
  </div>
</div>

<%= google_analytics_universal_tag %>
